<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="Reese Jones" />
        <meta name="description" content="Portfolio website" />

        <link
            href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
            rel="stylesheet"
        />
        <link href="/styles/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header><h1>Reese's Website</h1></header>
        <main>{{ content }}</main>
        <ul class="base-end-content">
            <li>im end of base content</li>
        </ul>
    </body>
    <script src="/bundle.js"></script>
</html>
